.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

.body-area {
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e9ea; /* 배경색 (필요하면 변경) */
}

.footer-area {
  align-items: center;
  justify-content: center;
  background-color: #c8c9ca; /* 배경색 (필요하면 변경) */
}

.navi-area {
  background-color: #c8c9ca; /* 배경색 (필요하면 변경) */
}